# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

# --- FIXED RULES FOR BACKEND ---
# Ignore IDE files inside the Backend folder
Backend/.metadata/
Backend/.sonarlint/
Backend/.project
Backend/.classpath
Backend/.settings/

# Ignore all target folders in all projects
*/target/

# --- RULES FOR FRONTEND ---
Frontend/node_modules
Frontend/dist
Frontend/.env.local